<div class="card">
    <div class="grid">
        <div class="col-2 flex align-items-center justify-content-start">
            <p-skeleton size="4rem"></p-skeleton>
        </div>
        <div class="col-10 flex align-items-center justify-content-center">
            <p-divider layout="vertical"></p-divider>
            <p-skeleton class="w-full" height="4rem"></p-skeleton>
        </div>
        <div class="col-12 flex align-items-center justify-content-center">
            <p-skeleton class="w-full" height="4rem"></p-skeleton>
        </div>
        <div class="col-12">
            <p-skeleton class="w-full" height="70vh"></p-skeleton>
        </div>
    </div>
</div>
