<div class="card">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-sidebar [(visible)]="sidebarVisible">
          <div class="card-container w-full">
            <p-panelMenu [model]="items"></p-panelMenu>
          </div>
        </p-sidebar>
        <p-button 
          (click)="sidebarVisible = true" 
          icon="pi pi-bars"
          styleClass="p-button-rounded"
          ></p-button>
      </div>
      <div class="p-toolbar-group-center">
        <p class="title">{{titulo}}</p>
      </div>
    </p-toolbar>
</div>
