<p-toast></p-toast>
<div class="card">
    <div class="browser">
        <span class="p-float-label">
            <input 
                pInputText 
                id="search" 
                [(ngModel)]="searchItem" 
                name="search" 
                (ngModelChange)="filterSearch()"
                class="w-full"
            />
            <label htmlFor="search">Nombre del cliente</label>
        </span>
    </div>
    <p-divider></p-divider>
    <ng-container *ngIf="loading; else mainScreen">
        <app-load-skeleton></app-load-skeleton>
        <app-load-skeleton></app-load-skeleton>
        <app-load-skeleton></app-load-skeleton>
        <app-load-skeleton></app-load-skeleton>
        <app-load-skeleton></app-load-skeleton>
        <app-load-skeleton></app-load-skeleton>
        <app-load-skeleton></app-load-skeleton>
        <app-load-skeleton></app-load-skeleton>
        <app-load-skeleton></app-load-skeleton>
    </ng-container>
    <ng-template #mainScreen>
        <ng-container *ngIf="items?.length==0; else Content">
            <div class="loader">
                <p>Sin registros</p>
            </div>
        </ng-container>
        <ng-template #Content>
            <div class="border-round border-1 surface-border p-2 surface-card my-2">
                <p-panelMenu 
                    [model]="items" 
                    [style]="{'width':'100%'}" 
                    [multiple]="false"
                ></p-panelMenu>
            </div>
        </ng-template>
    </ng-template>
    <div class="button-plus z-5">
        <p-button (click)="showDialog()" icon="pi pi-plus" styleClass="p-button-rounded p-button-help p-button-raised"></p-button>
        <p-dialog header="Registrar nuevo cliente" [modal]="true" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <div class="card-modal">
                <form>
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="name" id="cliente" class="w-full" name="cliente" required="true"/>
                        <label htmlFor="cliente" for="cliente">Nombre del cliente</label>
                    </span>
                    <div class="button-footer">
                        <p-button 
                            label="Guardar" 
                            styleClass="p-button-rounded"   
                            (onClick)="saveClient()"                 
                        ></p-button>
                        <p-button 
                            label="Cancelar" 
                            styleClass="p-button-rounded p-button-danger"
                            (onClick)= "showDialog()"
                        ></p-button>
                    </div>
                </form>
            </div>
        </p-dialog>
    </div>
</div>