@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.button-plus{
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.card-modal{
    width: 100%;
    margin-top: 20px;
}

.browser {
    font-family: 'Roboto', sans-serif;
    margin: 10px 0 10px 0;
}

.button-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.loader p{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}