<app-navbar titulo="Inicio"></app-navbar>
<div class="card flex justify-content-center">
    <div class="grid">
        <div class="border-round border-1 surface-border surface-card ml-5">
            <pdf-viewer 
                [src]="pdfSrc" 
                [zoom]="zoom" 
                [original-size]="false"
            ></pdf-viewer>
        </div>
        <div class="flex justify-content-between my-3 align-items-center col-12">
            <p-button icon="pi pi-search-plus" (click)="zoomIn()" styleClass="p-button-secondary"></p-button>
            <p-button icon="pi pi-search-minus" (click)="zoomOut()" styleClass="p-button-secondary"></p-button>
            <p-button icon="pi pi-replay" (click)="zoomReset()" styleClass="p-button-secondary"></p-button>
        </div>
        <div class="flex justify-content-center my-3 align-items-center col-12">
            <p-fileUpload 
                mode="basic" 
                chooseLabel="Elegir archivo"
                accept="application/pdf"
                
                (onUpload)="onUpload($event)"
                [auto]="true"
            ></p-fileUpload>
        </div>
    </div>
    
</div>
